<p>bull-shit-more works!</p>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>אדונימי אחד</mat-label>
      <input matInput placeholder="Ex. Pizza" value="שדדדד">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>שמע ישראך</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  לורם פסדש דגשדךגחלשדףגשד
  גשדגשדגדשג שמעשדגדשג
  <br>bull-shit-more
  asdasd asdasd
  שדגשד גשדגשדגדשג
  